<div class="container">
  <div class="row">
    <form [formGroup]="trainType" (ngSubmit)="onSubmit()">
      <div class="form-group col-lg-6">
        <app-form-input
        name="Train Type ID"
        type="number"
        inputFormName="trainTypeId"
        [formGroupInputGroup]="trainType"
        ></app-form-input>
      </div>
      <p *ngIf="trainType.controls['trainTypeId'].invalid && trainType.controls['trainTypeId'].touched">enter train ID</p>
      <br>
      <div class="form-group col-lg-6">
        <app-form-input
        name="Train Type Name"
        type="text"
        inputFormName="trainTypeName"
        [formGroupInputGroup]="trainType"
        ></app-form-input>
      </div>
      <p *ngIf="trainType.controls['trainTypeName'].invalid && trainType.controls['trainTypeName'].touched">enter train type</p>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="trainType.invalid">{{updateMood ? 'update' : 'Add'}}</button>
      <button class="btn btn-danger" *ngIf="updateMood"(click)="cancelUpdate()">Cancel</button>
    </form>
  </div>
  <br>
  <div class="row">
    <app-table-shared
    [headers]="tableHeaders"
    [data]="trainsTypes"
    [keys]="tableKeys"
    [updateMood]="updateMood"
    (deletedIndex)="deleteTrainType($event)"
    (updatedIndex)="updateTrainType($event)"
    ></app-table-shared>
  </div>
</div>
