  <div class="container bg-dark shadow rounded h-100">
    <div class="row">
      <div class="col-md-12">
            <h5 class="text-white text-center my-5">
              Menu
            </h5>
            <ul class="list-group" id="sidebar">
              <li class="list-group-item bg-dark"><a class="text-white btn w-100 text-start" routerLink="trainType">Train Type</a></li>
              <li class="list-group-item bg-dark"><a class="text-white btn w-100 text-start" routerLink="trainInfo">Train Information</a></li>
              <li class="list-group-item bg-dark"><a class="text-white btn w-100 text-start" routerLink="trainComopsition">Train Composition</a></li>
              <li class="list-group-item bg-dark"><a class="text-white btn w-100 text-start" routerLink="coachComposition">Coach Composition</a></li>

            </ul>

      </div>
    </div>
  </div>

